.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s; }

html {
  z-index: -2; }

body {
  margin: 0;
  padding: 0;
  background-color: #b0db90; }

h1.heading {
  font-family: Hind;
  font-weight: 300;
  color: #84af13;
  margin: auto;
  text-align: center;
  width: 400px;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 10px; }

.notebook {
  border-style: none;
  border-color: black;
  border-width: 1px;
  border-radius: 10px;
  margin: 4% auto 4% auto;
  width: 80%;
  min-height: 150px;
  color: white;
  background-color: #efeded;
  padding: 20px;
  display: flex; }
  .notebook > div {
    margin: 0;
    padding: 0;
    min-height: 400px;
    background-color: #efeded;
    flex-grow: 1;
    flex-basis: 10%; }
  .notebook > .topic {
    flex-grow: 1;
    flex-basis: 30%; }

.navbar {
  height: 42px;
  line-height: 42px;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  background-color: #027517;
  color: white;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 300; }

.element {
  line-height: 42px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-family: Poppins;
  font-size: 22px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
  color: black;
  height: 42px;
  background-color: #eaffee;
  position: relative;
  border-bottom-style: solid;
  border-bottom-color: rgba(2, 117, 23, 0.25);
  border-bottom-width: 2px; }
  .element input.editField {
    border-style: solid;
    border-color: rgba(2, 117, 23, 0.4);
    border-width: 2px;
    border-radius: 5px;
    background-color: transparent;
    position: relative;
    width: 90%;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 300;
    text-align: center; }
    .element input.editField:focus {
      outline: none; }

.selected {
  background-color: #efae8d;
  font-weight: bold; }

button {
  width: 80px;
  height: 40px;
  margin-top: 20px;
  margin-left: 10px;
  float: right;
  cursor: pointer;
  font-family: Poppins;
  font-size: 16px;
  border-style: none;
  border-radius: 3px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
  display: none; }
  button[name="save"] {
    background-color: #9e4f3f; }
  button[name="cancel"] {
    break-before: always;
    background-color: #afafaf; }

footer {
  position: absolute;
  left: 5px;
  bottom: 5px;
  font-family: Poppins;
  z-index: -1;
  color: white; }
