@import 'abstracts';

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

html {
  z-index: -2;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  background-color: $light-green;
  flex-grow: 1;
}

h1.heading {
  font: {
    family: Hind;
    weight: 300;
  }
  color: #84af13;
  margin: auto;
  text-align: center;
  width: 400px;
  background-color: white;
  border-bottom: {
    left-radius: 20px;
    right-radius: 20px;
  }
  padding-top: 10px;
}

.center-content {
  margin: 2% auto 4% auto;
  width: 85%;
  position: relative;
}

.yr-tabs {
  padding-left: 10px;
  display: flex;

  > .yr-lbl {
    $height: 50px;
    @include dimensions(150px, $height);
    @include textCenter($height);

    margin-right: 2px;
    border-radius: 20px 20px 0 0;
    background-color: white;
    cursor: pointer;
    font: {
      family: Poppins;
      size: 30px;
    }
  }

  > .selected-yr {
    background-color: $dark-green;
    color: white;
  }
}

.notebook {
  @include border(none, black, 1px, 10px);
  margin: 0;
  width: 100%;
  min-height: 150px;
  color: white;
  background-color: $darkish-white;
  padding: 20px;

  &:not(.selected-notebook) {
    display: none;
  }

  > div.table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@each $category in $categories {
  div.#{$category} {
    margin: 0;
    padding: 0;
    min-height: $min-height;
    background-color: $darkish-white;
    min-width: 0;

    @if $category == 'topic' {
      flex-grow: 3;
      flex-basis: 30%;
    } @else if $category == 'remarks' {
      flex-basis: 20%;
      flex-grow: 2;
    } @else {
      flex-grow: 1;
      flex-basis: 10%;
    }
  }
}

.navbar {
  height: $row_height;
  @include textCenter($row-height);
  margin: 0;
  padding: 0;
  background-color: $dark-green;
  color: white;
  overflow: hidden;
  box-shadow: 0 2px 4px $half-black;
  text-transform: capitalize;
  font: {
    family: Poppins;
    size: 20px;
    weight: 300;
  }
}

.element {
  @include textCenter($row_height);
  overflow: hidden;
  font: {
    family: Poppins;
    size: 22px;
  }
  text-overflow: ellipsis;
  box-shadow: 0px 1px 0.5px $barely-black;
  color: black;
  background-color: inherit;
  height: $row-height;
  position: relative;
  white-space: nowrap;
  border-bottom: {
    style: solid;
    color: rgba($dark-green, 0.25);
    width: 2px;
  }

  &:nth-child(odd) {
    background-color: $very-light-green;
  }

  &:nth-child(even) {
    background-color: $very-light-green2;
  }
}

footer {
  position: relative;
  padding: 0 0 5px 5px;
  font-family: Poppins;
  z-index: -1;
  color: white;
}
