@import 'abstracts';
// SCSS for edits page only

.element > input.edit-field { //textfields for entries into scheduler
  @include border(solid, $textfld-border, 2px, 5px);
  background-color: transparent;
  position: relative;
  width: 90%;
  &:focus {
    outline: none;
  }
  font: {
    family: Poppins;
    size: 20px;
    weight: 300;
  }
  text-align: center;
}

h3 {
  width: 50%;
  flex-grow: 1;
  justify-content: flex-start;
  margin-top: 0;
  color: $dark-green;
  font: {
    family: Poppins;
    size: 16px;
  }
}

.save-btns {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;

  button {
    @extend %button;
    padding: 0 10px;
    margin-top: 20px;
    margin-left: 10px;

    &[name="save-tbl"] {
      background-color: #9e4f3f;
    }

    &[name="cancel"], &[name="cancel-entries"] {
      background-color: #afafaf;
    }

    &[name="edit-entries-pool"] {
      background-color: $dark-green;
    }
  }
}

.entries-pool {
  margin-top: 20px;
  flex-basis: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

@each $entry in $entries-list {
  $header-height: 40px;
  .#{$entry}-entries {
    max-width: 24%;
    flex-grow: 1;
    box-shadow: $half-black 1px 1px 3px;
    background-color: $very-light-green;
    position: relative;
    > h3 {
      @include dimensions(100%, $header-height);
      @include textCenter($header-height);
      color: white;
      background-color: $dark-green;
      margin: 0;
      text-transform: capitalize;
      font: {
        family: Poppins;
        weight: 400;
        size: 20px;
      }
    }

    .entries {
      height: calc(100% - #{$header-height});
      box-sizing: border-box;
      background-color: $very-light-green;
      color: black;
      padding: 15px;
      font: {
        family: Poppins;
        size: 16px;
      }

      textarea {
        @include border(solid, $textfld-border, 2px, 5px);
        @include dimensions(95%, 100%);
        display: block;
        margin: auto;
        resize: none;
        margin-bottom: 10px;
        min-height: 250px;
        box-sizing: border-box;
        font: {
          family: Poppins;
          size: 16px;
        }
      }
    }
  }
}
