// SCSS for views page only
@import 'abstracts';

.hover {
  position: absolute;
  z-index: 1;
  background-color: rgba(#f9ffed, 0.5);
  box-shadow: 1px 1px 10px $barely-black;
  color: black;
  border-radius: 5px;
  font: {
    family: Poppins;
    size: 22px;
  }
  min-height: $row-height;
  padding: 8px;
  overflow-wrap: break-word;
}

/*
  Convert to proper case, even for all caps entries
  (which the capitalize option will fail at)
*/
@each $selectable in $entries-list {
  .#{$selectable} {
    > div.info > .element {
      text-transform: lowercase;

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}
