$half-black: rgba(0,0,0,0.5);
$barely-black: rgba(0,0,0,0.15);
$row-height: 42px;
$min-height: 400px;
$darkish-white: #efeded;
$dark-green: #027517;
$light-green: #b0db90;
$very-light-green: #eaffee;
$very-light-green2: #c9f2d0;
$categories: 'dates', 'place', 'topic', 'moderator', 'children', 'youth', 'remarks';
$entries-list: 'place', 'moderator', 'children', 'youth';
$btn-height: 40px;
$textfld-border: rgba($dark-green, 0.4);

@mixin border($style: none, $color: black, $width: 1px, $radius: 0px){
  border: {
    style: $style;
    color: $color;
    width: $width;
    radius: $radius;
  }
}

@mixin dimensions($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin textCenter($height) {
  line-height: $height;
  text-align: center;
  vertical-align: middle;
}

%button {
  height: $btn-height;
  cursor: pointer;
  font: {
    family: Poppins;
    size: 16px;
  }
  border: {
    style: none;
    radius: 3px;
  }
  color: white;
  box-shadow: $half-black 1px 1px 3px;
}
