// SCSS for edits page
@import 'main';

.element > input.edit-field { //textfields for entries into scheduler
  @include border(solid, $textfld-border, 2px, 5px);
  background-color: transparent;
  position: relative;
  width: 90%;
  &:focus {
    outline: none;
  }
  font: {
    family: Poppins;
    size: 20px;
    weight: 300;
  }
  text-align: center;
}

.save-options {
  flex-basis: 100%;
  display: flex;
  h3 {
    width: 50%;
    flex-grow: 1;
    justify-content: flex-start;
    font: {
      family: Poppins;
      size: 16px;
    }
  }
}

.save-btns {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;

  button {
    @extend %button;
    padding: 0 10px;
    margin-top: 20px;
    margin-left: 10px;

    &[name="save-tbl"] {
      background-color: #9e4f3f;
      display: none;
    }

    &[name="cancel"], &[name="cancel-entries"] {
      background-color: #afafaf;
      display: none;
    }

    &[name="edit-entries-pool"] {
      background-color: $dark-green;
    }
  }
}

.entries-pool {
  margin-top: 20px;
  flex-basis: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

@each $entry in $entries-list {
  .#{$entry}-entries {
    max-width: 24%;
    flex-grow: 1;
    box-shadow: $half-black 1px 1px 3px;
    display: none;
    background-color: $very-light-green;
    > h3 {
      @include dimensions(100%, 40px);
      @include textCenter(40px);
      color: white;
      background-color: $dark-green;
      margin: 0;
      text-transform: capitalize;
      font: {
        family: Poppins;
        weight: 400;
        size: 20px;
      }
    }

    .entries {
      min-height: 40px;
      background-color: $very-light-green;
      color: black;
      padding: 15px;
      font: {
        family: Poppins;
        size: 16px;
      }

      textarea {
        @include border(solid, $textfld-border, 2px, 5px);
        width: 95%;
        display: block;
        margin: auto;
        resize: none;
        margin-bottom: 10px;
        font: {
          family: Poppins;
          size: 16px;
        }
      }
    }
  }
}
