@import 'abstracts';

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

html {
  z-index: -2;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  background-color: $light-green;
  flex-grow: 1;
}

h1.heading {
  font: {
    family: Hind;
    weight: 300;
  }
  color: #84af13;
  margin: auto;
  text-align: center;
  width: 400px;
  background-color: white;
  border-bottom: {
    left-radius: 20px;
    right-radius: 20px;
  }
  padding-top: 10px;
}

.center-content {
  margin: 2% auto 4% auto;
  width: 85%;
  position: relative;
}

.yr-tabs {
  padding-left: 10px;
  display: flex;

  > .yr-lbl {
    $height: 50px;
    @include dimensions(150px, $height);
    @include textCenter($height);

    margin-right: 2px;
    border-radius: 20px 20px 0 0;
    background-color: white;
    cursor: pointer;
    font: {
      family: Poppins;
      size: 30px;
    }
  }

  > .selected-yr {
    background-color: $dark-green;
    color: white;
  }
}

.notebook {
  @include border(none, black, 1px, 10px);
  margin: 0;
  width: 100%;
  min-height: 150px;
  color: white;
  background-color: $darkish-white;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &:not(.selected-notebook) {
    display: none;
  }
}

@each $category in $categories {
  div.#{$category} {
    margin: 0;
    padding: 0;
    min-height: $min-height;
    background-color: $darkish-white;
    min-width: 0;

    @if $category == 'topic' {
      flex-grow: 3;
      flex-basis: 30%;
    } @else if $category == 'remarks' {
      flex-basis: 20%;
      flex-grow: 2;
    } @else {
      flex-grow: 1;
      flex-basis: 10%;
    }
  }
}

.navbar {
  height: $row_height;
  @include textCenter($row-height);
  margin: 0;
  padding: 0;
  background-color: $dark-green;
  color: white;
  overflow: hidden;
  box-shadow: 0 2px 4px $half-black;
  text-transform: capitalize;
  font: {
    family: Poppins;
    size: 20px;
    weight: 300;
  }
}

.element {
  @include textCenter($row_height);
  overflow: hidden;
  font: {
    family: Poppins;
    size: 22px;
  }
  text-overflow: ellipsis;
  box-shadow: 0px 1px 0.5px $barely-black;
  color: black;
  background-color: inherit;
  height: $row-height;
  position: relative;
  border-bottom: {
    style: solid;
    color: rgba($dark-green, 0.25);
    width: 2px;
  }

  &:nth-child(odd) {
    background-color: $very-light-green;
  }

  &:nth-child(even) {
    background-color: $very-light-green2;
  }

  //textfields for entries into scheduler
  input.edit-field {
    @include border(solid, $textfld-border, 2px, 5px);
    background-color: transparent;
    position: relative;
    width: 90%;
    &:focus {
      outline: none;
    }
    font: {
      family: Poppins;
      size: 20px;
      weight: 300;
    }
    text-align: center;
  }
}

.save-options {
  flex-basis: 100%;
  display: flex;
  h3 {
    width: 50%;
    flex-grow: 1;
    justify-content: flex-start;
    font: {
      family: Poppins;
      size: 16px;
    }
  }
}

.hover {
  position: absolute;
  z-index: 1;
  background-color: rgba(#f9ffed, 0.5);
  box-shadow: 1px 1px 10px $barely-black;
  color: black;
  border-radius: 5px;
  font: {
    family: Poppins;
    size: 22px;
  }
  min-height: $row-height;
  padding: 8px;
  overflow-wrap: break-word;
}

.save-btns {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;

  button {
    @extend %button;
    padding: 0 10px;
    margin-top: 20px;
    margin-left: 10px;

    &[name="save-tbl"] {
      background-color: #9e4f3f;
      display: none;
    }

    &[name="cancel"], &[name="cancel-entries"] {
      background-color: #afafaf;
      display: none;
    }

    &[name="edit-entries-pool"] {
      background-color: $dark-green;
    }
  }
}

.entries-pool {
  margin-top: 20px;
  flex-basis: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

@each $entry in $entries-list {
  .#{$entry}-entries {
    max-width: 24%;
    flex-grow: 1;
    box-shadow: $half-black 1px 1px 3px;
    display: none;
    background-color: $very-light-green;
    > h3 {
      @include dimensions(100%, 40px);
      @include textCenter(40px);
      color: white;
      background-color: $dark-green;
      margin: 0;
      text-transform: capitalize;
      font: {
        family: Poppins;
        weight: 400;
        size: 20px;
      }
    }

    .entries {
      min-height: 40px;
      background-color: $very-light-green;
      color: black;
      padding: 15px;
      font: {
        family: Poppins;
        size: 16px;
      }

      textarea {
        @include border(solid, $textfld-border, 2px, 5px);
        width: 95%;
        display: block;
        margin: auto;
        resize: none;
        margin-bottom: 10px;
        font: {
          family: Poppins;
          size: 16px;
        }
      }
    }
  }
}

footer {
  position: relative;
  padding: 0 0 5px 5px;
  font-family: Poppins;
  z-index: -1;
  color: white;
}
