@import 'abstracts';

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

html {
  z-index: -2;
}

body {
  margin: 0;
  padding: 0;
  background-color: $light-green;
}

h1.heading {
  font: {
    family: Hind;
    weight: 300;
  }
  color: #84af13;
  margin: auto;
  text-align: center;
  width: 400px;
  background-color: white;
  border-bottom: {
    left-radius: 20px;
    right-radius: 20px;
  }
  padding-top: 10px;
}

.notebook {
  @include border(none, black, 1px, 10px);
  margin: 2% auto 4% auto;
  width: 85%;
  min-height: 150px;
  color: white;
  background-color: $darkish-white;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > div:not(.save-btns):not(.entries-pool) {
    margin: 0;
    padding: 0;
    min-height: $min-height;
    background-color: $darkish-white;
    flex-grow: 1;
    flex-basis: 10%;
  }

  > .topic {
    flex-grow: 3 !important;
    flex-basis: 30% !important;
  }

  > .remarks {
    flex-grow: 2 !important;
  }
}

.navbar {
  height: $row_height;
  @include textCenter($row-height);
  margin: 0;
  padding: 0;
  background-color: $dark-green;
  color: white;
  overflow: hidden;
  box-shadow: 0 2px 4px $half-black;
  font: {
    family: Poppins;
    size: 20px;
    weight: 300;
  }
}

.element {
  @include textCenter($row_height);
  overflow: hidden;
  font: {
    family: Poppins;
    size: 22px;
  }
  box-shadow: 0px 4px 5px $half-black;
  color: black;
  height: $row-height;
  background-color: $very-light-green;
  position: relative;
  border-bottom: {
    style: solid;
    color: rgba($dark-green, 0.25);
    width: 2px;
  }

  //textfields for entries into scheduler
  input.edit-field {
    @include border(solid, $textfld-border, 2px, 5px);
    background-color: transparent;
    position: relative;
    width: 90%;
    &:focus {
      outline: none;
    }
    font: {
      family: Poppins;
      size: 20px;
      weight: 300;
    }
    text-align: center;
  }
}

.save-btns {
  flex-basis: 100%;
  display: flex;
  justify-content: flex-end;

  button {
    @extend %button;
    padding: 0 10px;
    margin-top: 20px;
    margin-left: 10px;

    &[name="save-tbl"] {
      background-color: #9e4f3f;
      display: none;
    }

    &[name="cancel"] {
      background-color: #afafaf;
      display: none;
    }

    &[name="edit-entries-pool"] {
      background-color: $dark-green;
    }
  }
}

.entries-pool {
  margin-top: 20px;
  flex-basis: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

@each $entry in $entries-list {
  .#{$entry}-entries {
    max-width: 24%;
    flex-grow: 1;
    box-shadow: $half-black 1px 1px 3px;
    display: none;
    background-color: $very-light-green;
    > h3 {
      @include dimensions(100%, 40px);
      @include textCenter(40px);
      color: white;
      background-color: $dark-green;
      margin: 0;
      font: {
        family: Poppins;
        weight: 400;
        size: 20px;
      }
    }

    .entries {
      min-height: 40px;
      background-color: $very-light-green;
      color: black;
      padding: 15px;
      font: {
        family: Poppins;
        size: 16px;
      }

      textarea {
        @include border(solid, $textfld-border, 2px, 5px);
        width: 95%;
        display: block;
        margin: auto;
        resize: none;
        margin-bottom: 10px;
        font: {
          family: Poppins;
          size: 16px;
        }
      }
    }
  }
}
footer {
  position: absolute;
  left: 5px;
  bottom: 5px;
  font-family: Poppins;
  z-index: -1;
  color: white;
}
