$raging-red: #ad2905;
$light-red: #ffbfba;
$half-black: rgba(0,0,0,0.5);
$row-height: 42px;
$min-height: 400px;
$darkish-white: #efeded;

@mixin border($style: none, $color: black, $width: 1px, $radius: 0px){
  border: {
    style: $style;
    color: $color;
    width: $width;
    radius: $radius;
  }
}

@mixin dimensions($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin textCenter($height) {
  line-height: $height;
  text-align: center;
  vertical-align: middle;
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

%noGap {
  margin: 0;
  padding: 0;
}

body {
  @extend %noGap;
  background-color: #ea6359;
}

h1.heading {
  font: {
    family: Hind;
    weight: 300;
  }
  color: $raging-red;
  margin: auto;
  text-align: center;
  width: 400px;
  background-color: white;
  border: {
    bottom-left-radius: 20px;
    bottom-right-radius: 20px;
  }
  padding-top: 10px;
}

.notebook {
  @include border(none, black, 1px, 10px);
  margin: 4% auto 4% auto;
  width: 50%;
  max-width: 75%;
  min-height: 150px;
  color: white;
  background-color: $darkish-white;
  padding: 20px;
  display: flex;
}

.dates {
  @extend %noGap;
  min-height: $min-height;
  background-color: $darkish-white;
  flex-grow: 1;
}

.roles {
  flex-grow: 3;
}

.navbar {
  height: $row_height;
  @include textCenter($row-height);
  @extend %noGap;
  background-color: #b74d10;
  color: white;
  overflow: hidden;
  box-shadow: 0 2px 4px $half-black;
  font: {
    family: Poppins;
    size: 20px;
    weight: 300;
  }
}

.info:nth-child(n) {
  @extend %noGap;
  @include textCenter($row_height);
  min-height: $min-height;
  overflow: hidden;
  font: {
    family: Poppins;
    size: 22px;
  }
  box-shadow: 0px 4px 5px $half-black;
  color: black;
  margin-bottom: 2px;
  height: $row-height;
  background-color: #ffe8db;
  position: relative;
}

%focused {
  background-color: #dbdb0f;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
  height: 100%;
  &:hover, &:focus {
    @extend %focused;
  }
}

.selected {
  @extend %focused;
}

//textfields for entries into scheduler
input.editField {
  @include border(solid, black, 2px, 5px);
  background-color: transparent;
  &:focus {
    outline: none;
  }
  font: {
    family: Poppins;
    size: 20px;
    weight: 300;
  }
  text-align: center;
}
